# Data and output files
first_data/
*.duckdb
*.parquet
*.gpkg
*.zip
*.geojson

# R scratch and personal files
R_scripts/scratch_script.R
R_scripts/playbook_all_NPRZ.R

# Svelte and Node
svelte-tutorials/
node_modules/
cbs-map/node_modules/
cbs-map/.svelte-kit/

# R environment files
.Rhistory
.RData
.Rproj.user/

# System files
.DS_Store
Thumbs.db

#Json files from previous svelte project
cbs-map/package-lock.json
cbs-map/package.json